<div class="container my-3">
  <nav aria-label="Page navigation  text-center">
    <ul class="pagination" style="justify-content: center;">
      <li class="page-item disabled" [ngClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" aria-label="Previous" (click)="currentPage = currentPage - 1">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li
        class="page-item"
        [ngClass]="{ acitve: i === currentPage }"
        *ngIf="checkPageIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link" [ngClass]="{ active: i === currentPage }">{{ i + 1 }}</a>
        </li>
      </ng-container>
      <li class="page-item" [ngClass]="{ disabled: currentPage === images.length -1 }">
        <a class="page-link" aria-label="Next" (click)="currentPage = currentPage + 1 ">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="text-center">
    <h4 [appClass]=" 'purple' ">{{ images[currentPage].title }}</h4>
    <img [src]=" images[currentPage].url " class="rounded" alt="..." style="width: 400px;">
  </div>
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <p>First</p>
    </div>
    <div *ngSwitchCase="0">
      <p>twice</p>
    </div>
    <div *ngSwitchCase="1">
      <p>Second</p>
    </div>
    <div *ngSwitchDefault>
      <p>Default</p>
    </div>
  </div>

</div>
